.Header {
    box-sizing      : border-box;
    display         : flex;
    background-color: #e7e7e7;
    justify-content : space-between;
    padding         : 1.2rem;
    height          : 70px;

    align-items: center;
}

.Navbar {
    display: flex;

}

.Menu {

    display    : flex;
    gap        : .5rem;
    font-size  : 1.4rem;
    align-items: center;
}
.Menu a{
    display: block;
    padding: .7rem;
}
a:hover{
    background-color: rgba(0, 0, 0, .07);
}
.Menu input:focus {
    outline: none;
}